@font-face {
    font-family: 'quicksand';
    src: url(./Fonts/Quicksand-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'marck';
    src: url(./Fonts/MarckScript-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}
/*               COLOURS                 */
:root {
    --main: #212529;
    --secondary: #6C757D;
    --accent: #ADB5BD;
    --textPrimary: #f8f9fa;
    --textSecondary: #CED4DA;
}

.bg-primary {
    background-color: var(--main);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-accent {
    background-color: var(--accent);
}
.text-primary {
    color: var(--textPrimary);
}
.text-secondary {
    color: var(--textSecondary);
}

.hover\:bg-secondary:hover {
    background-color: var(--secondary);
    transition-duration: 0.5s;
}

h1 {
    font-family: quicksand;
    color: var(--textPrimary);
    font-size: 2.25rem;
}
h2 {
    font-family: marck;
    color: var(--textPrimary);
    font-size: 2.25rem;
}
p {
    font-family: quicksand;
    color: var(--textSecondary);
    font-size:1.5rem;
}

p > a {
    color: skyblue;
    transition-duration: 0.5s;
}

#picture1 {
    background-image: url(src/images/mini-img/zdjSalonu2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
    position: relative;
}

#photoGallery > a{
    width:16.66667%;
    padding: 0.5rem;
} 
#photoGallery > div > a > img{
    -webkit-box-shadow: 5px 4px 12.5px 0.5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 4px 12.5px 0.5px rgba(66, 68, 90, 1);
    box-shadow: 5px 4px 12.5px 0.5px rgba(66, 68, 90, 1);
}

/* ANIMATIONS */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.animationClass_nav1 {
    animation: fadeIn 0.3s ease-in;
}
.animationClass_nav2 {
    animation: fadeIn 0.5s ease-in;
}
.animationClass_nav3 {
    animation: fadeIn 0.7s ease-in;
}
.animationClass_nav4 {
    animation: fadeIn 0.9s ease-in;
}