---
import '../styles/custom.css';
import PhotoGallery from '../components/photoGallery';
---
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Salon Piękności Twój Styl poleca profesjonalne i nowoczesne usługi kosmetyczne. 
        Staramy się, aby każdy klient czuł się wyjątkowo, komfortowo i bezpiecznie ! ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Salon fryzjerski, Żywiec, zywiec, salon piękności, salon pieknosci, zabiegi, pielęgnacja, kosmetyki, keune, twoj styl, twój styl">
        <meta name="author" content="Patryk Knapek">
        <title>Twój Styl Żywiec</title>
    </head>
    <body>
        <div class='flex bg-primary'>
            <a href="/" class="p-2"><img src='src/images/icons/backArrow64.png'></a>
            <h2 class='text-secondary m-auto text-5xl py-3'>Twój Styl</h2>
        </div>
        <PhotoGallery> </PhotoGallery>
    </body>
</html>

