---
import '../styles/custom.css';
---
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Salon Piękności Twój Styl poleca profesjonalne i nowoczesne usługi kosmetyczne. 
        Staramy się, aby każdy klient czuł się wyjątkowo, komfortowo i bezpiecznie ! ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Salon fryzjerski, Żywiec, zywiec, salon piękności, salon pieknosci, zabiegi, pielęgnacja, kosmetyki, keune, twoj styl, twój styl">
        <meta name="author" content="Patryk Knapek">
        <title>Twój Styl Żywiec</title>
    </head>
    <body>
        <div class='flex bg-primary'>
            <span class="p-2"><a href="/"><img src='src/images/icons/backArrow64.png'></a></span>
            <h2 class='text-secondary m-auto text-5xl py-3'>Twój Styl</h2>
        </div>
        <div class='flex flex-wrap'>
            <a href={"src/images/maxi-img/pic1.jpg"}>
                <img src={"src/images/mini-img/pic1.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic2.jpg"}>
                <img src={"src/images/mini-img/pic2.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic3.jpg"}>
                <img src={"src/images/mini-img/pic3.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic4.jpg"}>
                <img src={"src/images/mini-img/pic4.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic5.jpg"}>
                <img src={"src/images/mini-img/pic5.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic6.jpg"}>
                <img src={"src/images/mini-img/pic6.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic7.jpg"}>
                <img src={"src/images/mini-img/pic7.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic8.jpg"}>
                <img src={"src/images/mini-img/pic8.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic9.jpg"}>
                <img src={"src/images/mini-img/pic9.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic10.jpg"}>
                <img src={"src/images/mini-img/pic10.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic11.jpg"}>
                <img src={"src/images/mini-img/pic11.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic12.jpg"}>
                <img src={"src/images/mini-img/pic12.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic13.jpg"}>
                <img src={"src/images/mini-img/pic13.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic14.jpg"}>
                <img src={"src/images/mini-img/pic14.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic15.jpg"}>
                <img src={"src/images/mini-img/pic15.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic16.jpg"}>
                <img src={"src/images/mini-img/pic16.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic17.jpg"}>
                <img src={"src/images/mini-img/pic17.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic18.jpg"}>
                <img src={"src/images/mini-img/pic18.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic19.jpg"}>
                <img src={"src/images/mini-img/pic19.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic20.jpg"}>
                <img src={"src/images/mini-img/pic20.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic21.jpg"}>
                <img src={"src/images/mini-img/pic21.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic22.jpg"}>
                <img src={"src/images/mini-img/pic22.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic23.jpg"}>
                <img src={"src/images/mini-img/pic23.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic24.jpg"}>
                <img src={"src/images/mini-img/pic24.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic25.jpg"}>
                <img src={"src/images/mini-img/pic25.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic26.jpg"}>
                <img src={"src/images/mini-img/pic26.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic27.jpg"}>
                <img src={"src/images/mini-img/pic27.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic28.jpg"}>
                <img src={"src/images/mini-img/pic28.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic29.jpg"}>
                <img src={"src/images/mini-img/pic29.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic30.jpg"}>
                <img src={"src/images/mini-img/pic30.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic31.jpg"}>
                <img src={"src/images/mini-img/pic31.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic32.jpg"}>
                <img src={"src/images/mini-img/pic32.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic33.jpg"}>
                <img src={"src/images/mini-img/pic33.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic34.jpg"}>
                <img src={"src/images/mini-img/pic34.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic35.jpg"}>
                <img src={"src/images/mini-img/pic35.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic36.jpg"}>
                <img src={"src/images/mini-img/pic36.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic37.jpg"}>
                <img src={"src/images/mini-img/pic37.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic38.jpg"}>
                <img src={"src/images/mini-img/pic38.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic39.jpg"}>
                <img src={"src/images/mini-img/pic39.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic40.jpg"}>
                <img src={"src/images/mini-img/pic40.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic41.jpg"}>
                <img src={"src/images/mini-img/pic41.jpg"}/>
            </a>
            <a href={"src/images/maxi-img/pic42.jpg"}>
                <img src={"src/images/mini-img/pic42.jpg"}/>
            </a>
        </div>
    </body>
</html>

