---
import Navbar from '../layouts/navbar.astro';
import Main from '../layouts/main.astro';
import Footer from '../layouts/footer.astro';
import '../styles/custom.css';
---
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Salon Piękności Twój Styl poleca profesjonalne i nowoczesne usługi kosmetyczne. 
        Staramy się, aby każdy klient czuł się wyjątkowo, komfortowo i bezpiecznie ! ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Salon fryzjerski, Żywiec, zywiec, salon piękności, salon pieknosci, zabiegi, pielęgnacja, kosmetyki, keune, twoj styl, twój styl">
        <meta name="author" content="Patryk Knapek">
        <title>Twój Styl Żywiec</title>
    </head>
    <body>
        <Navbar></Navbar>
        <Main></Main>
        <Footer></Footer>
    </body>
</html>
