
import Navbar from '../layouts/navbar.astro';
import Main from '../layouts/main.astro';
import Footer from '../layouts/footer.astro';

<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <Navbar></Navbar>
        <Main></Main>
        <Footer></Footer>
    </body>
</html>
