<footer id='kontakt' class='bg-primary pt-4 pb-0'>
    <div id="contact" class="flex flex-col text-center justify-center
        md:justify-between md:flex-row md:text-left ">
        <div> 
            <h1 class="text-4xl"> Dane kontaktowe </h1>
                <h1 class='text-2xl font-black'>Telefon:</h1>
                <p>
                    <a href="tel:33 4759662">33 475 96 62 </a><br />
                    <a href="tel:512-546-182">512 546 182</a>
                </p>
                <h1 class='text-2xl font-black'>E-mail:</h1> 
                <p>twojstyl123@gmail.components</p>
                <h1 class='text-2xl font-black'>Adres:</h1>
                <p>ul. Henryka Sienkiewicza 25<br /> 34-300 Żywiec</p>
            <div class="flex flex-col md:flex-row py-6">
                <p class="flex justify-center">
                    <a href="https://www.facebook.com/profile.php?id=100063466146720"><img src="src/images/icons/facebook.png" alt='Facebook' class="w-12 mx-2"></a>
                    <a href="https://instagram.com/twoj_styl.e.w/"><img src="src/images/icons/instagram.png" alt='Instagram' class="w-12 mx-2"></a>
                </p>
            </div>
        </div>
        
        
        <div class="mapouter my-4 m-auto md:m-0">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d449.9797763479595!2d19.20270666718981!3d49.69190854667544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4714262bbc132eaf%3A0xdebfe383dbf92b86!2sHenryka%20Sienkiewicza%2025%2C%2034-315%20%C5%BBywiec!5e0!3m2!1spl!2spl!4v1633438164957!5m2!1spl!2spl"
                 style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <style>
                    .mapouter{position:relative;text-align:right;height:400px;width:500px; max-width: 100%;}
                </style>
                <a href="https://www.embedgooglemap.net"></a>
                <style>.gmap_canvas {overflow:hidden;background:none!important;height:350px;width:500px; max-width: 100%;}</style>
            </div>
        </div>
    </div>

</footer>