
<main class='flex flex-col bg-primary'>
    <div id='picture1' >
        <h1>
            Twój Styl
        </h1>
    </div>
    <div id='text-content' >
        <div>
            <h1>Kim jesteśmy?</h1>
            <p>Salon Piękności "Twój Styl" to miejsce w którym zaznasz chwili relaksu. 
                Długoletnie doświadczenie w branży fryzjerskiej gwarantuje profesjonalizm 
                oraz indywidualne podejście do każdego klienta. Salon fryzjerski oferuje 
                innowacyjne i nowoczesne technologie.
            </p>
        </div>
        <div>
            <h1>Co oferujemy?</h1>
            <p>Oferujemy usługi z zakresu strzyżeń 
                damskich i męskich, koloryzacji kreatywnych, zabiegów pielęgnacyjnych takich 
                jak: keratynowe prostowanie włosów, botox, laminacja włosów oraz zabiegi 
                lecznicze przy użyciu sauny z ozonem zapewniając włosom i skórze głowy 
                nawilżenie i łagodzenie nadwrażliwej skóry. W naszym salonie wykonujemy 
                również fryzury okolicznościowe! Korzystamy z kosmetyków do włosów KEUNE, które 
                są bardzo wysokiej jakości. Gwarantują długotrwałą ochronę i naturalny blask.
            </p>
        </div>
        <div>
            <h1>To nie wszystko!</h1>
            <p>
                We fryzjerstwie liczy się nie tylko jakość pracy ale także kosmetyki, z których korzystamy. 
                W naszej ofercie znajduje się linia kosmetyków oparta o czysto roślinną terapię So Pure Natural 
                Balance. Jest to linia produktów po wielu latach intensywnych badań. To przełom w naturalnej 
                pielęgnacji włosów. Wiedza o fitoterapii, aromaterapii, homeoterapii leży u podstaw idei linii 
                so pure natural balance . Produkty te nie zawierają sztucznych zapachów, barwników czy produktów 
                pochodzenia zwierzęcego. 
            </p>
        </div>
    </div>
    <div id='examples'>
        <h1> Przykładowe efekty naszej pracy: </h1>
        
        <div>
            <div>
                <a target ="_blank" href="#" ><img src="src/images/mp1.jpg" alt='Przykładowe zdjęcie' ></a>
            </div>
            <div>
                <a target ="_blank" href="#"><img src="src/images/mp2.jpg" alt='Przykładowe zdjęcie'></a>
            </div>
        </div>
        <div>
            <div>
                <a target ="_blank" href="#"><img src="src/images/mp3.jpg" alt='Przykładowe zdjęcie'></a>
            </div>
            <div>
                <a target ="_blank" href="#"><img src="src/images/mp4.jpg" alt='Przykładowe zdjęcie'></a>
            </div>
        </div>
    </div>
    <div id='open-hours'>
        <h1>Godziny otwarcia salonu:</h1>
        <p>
            Pn: 8:30 - 17:00 <br />
            Wt: 8:30 - 17:00 <br />
            Sr: 8:30 - 17:00 <br />
            Czw: 8:30 - 17:00 <br />
            Pt: 8:30 - 17:00 <br />
            Sb: 8:30 - 14:00 <br />
            Godziny dostosowujemy również indywidualnie do potrzeb klienta!
        </p>
    </div>
    <div id='picture2'>
        <h1> Nasz Salon </h1>
        <img src="src/images/zdjsalonu.jpg" alt="Salon">
    </div>
</main>