
<main class='flex flex-col bg-primary'>
    <div id='picture1' class='flex m-auto'>
        <h2 class='bg-primary m-auto p-12 opacity-80 text-9xl'>
            Twój Styl
        </h2>
    </div>
    <div id='text-content' class="flex">
        <div class="p-8">
            <h1 class="p-2 m-2 text-center border-b">Kim jesteśmy?</h1>
            <p>Salon Piękności "Twój Styl" to miejsce w którym zaznasz chwili relaksu. 
                Długoletnie doświadczenie w branży fryzjerskiej gwarantuje profesjonalizm 
                oraz indywidualne podejście do każdego klienta.
            </p>
        </div>
        <div class="p-8">
            <h1 class="p-2 m-2 text-center border-b">Co oferujemy?</h1>
            <p>Oferujemy usługi z zakresu strzyżeń 
                damskich i męskich, koloryzacji kreatywnych i zabiegów pielęgnacyjnych  W naszym salonie wykonujemy 
                również fryzury okolicznościowe! Korzystamy z kosmetyków do włosów KEUNE, które 
                są bardzo wysokiej jakości. Gwarantują długotrwałą ochronę i naturalny blask.
            </p>
        </div>
        <div class="p-8">
            <h1 class="p-2 m-2 text-center border-b">To nie wszystko!</h1>
            <p>
                We fryzjerstwie liczy się nie tylko jakość pracy ale także kosmetyki, z których korzystamy. 
                W naszej ofercie znajduje się linia kosmetyków oparta o czysto roślinną terapię So Pure Natural 
                Balance. Jest to linia produktów po wielu latach intensywnych badań.
            </p>
        </div>
    </div>
    <div id='examples'>
        <h1 class="text-center py-6"> Przykładowe efekty naszej pracy: </h1>
        <div class="flex flex-wrap">
            <div class="p-8 w-1/2">
                <a target ="_blank" href="#" ><img src="src/images/mp1.jpg" alt='Przykładowe zdjęcie' ></a>
            </div>
            <div class="p-8 w-1/2">
                <a target ="_blank" href="#"><img src="src/images/mp2.jpg" alt='Przykładowe zdjęcie'></a>
            </div>
            <div class="p-8 w-1/2">
                <a target ="_blank" href="#"><img src="src/images/mp3.jpg" alt='Przykładowe zdjęcie'></a>
            </div>
            <div class="p-8 w-1/2">
                <a target ="_blank" href="#"><img src="src/images/mp4.jpg" alt='Przykładowe zdjęcie'></a>
            </div>
        </div>
    </div>
    <div id='open-hours' class="flex flex-col py-6">
        <h1 class='p-4 border-b m-auto'>Godziny otwarcia salonu:</h1>
        <p class="p-4 text-center">
            Pn: 8:30 - 17:00 <br />
            Wt: 8:30 - 17:00 <br />
            Sr: 8:30 - 17:00 <br />
            Czw: 8:30 - 17:00 <br />
            Pt: 8:30 - 17:00 <br />
            Sb: 8:30 - 14:00 <br />
            Godziny dostosowujemy również indywidualnie do potrzeb klienta!
        </p>
    </div>
    <div id='picture2' class="flex flex-col">
        <h2 class="text-5xl py-6 px-24 border-t m-auto"> Nasz Salon </h2>
        <img src="src/images/zdjsalonu.jpg" alt="Salon">
    </div>
</main>