<!-- ZROBIĆ IF NA 850px wide do hamburgir menu -->
<navbar class='text-center'>
    <!-- navbar powyzej 850px -->
    <div class='m-auto'>
        <button>O nas</button>
        <button>Godziny Otwarcia</button>
        <button>Kontakt</button>
        <button>Galeria</button>
    </div>
    <!-- hamburger ponizej 850px -->
    <div class='flex flex-row content-between'>
        <p>
            Twój Styl
        </p>
        <button>
            <img src='#' />
        </button>
        <div class='flex flex-col'>
            <button>O nas</button>
            <button>Godziny Otwarcia</button>
            <button>Kontakt</button>
            <button>Galeria</button>
        </div>
    </div>
</navbar>